/* Class Selectors */
.Broccoli{
    background-color: lightgreen;
}

.Bacon{
    background-color:red;
}

/* ID Selector */
#Bacon{
    color:red;
}

#Broccoli{
    color:lightgreen;
}

.applesareapples{
    
    color: greenyellow;
 }

 .circular{
    background-color:blue;
    height:100px;
    width:100px;
    border-radius:20px;
 }

 .boundary{
    background-color:blue;
    width:700px;
    border-radius:5px;
    color: greenyellow;
 }
